footer#colophon {	
	color: $white;
	a {
		color: $color-yellow;	
	}
	.footer-main {
		.h6 {
			text-transform: uppercase;
		}
		p,
		.p {
			font-size: rem-calc(15);
			line-height: 1.5;
		}
	}
		
	ul.main-nav {
		@include breakpoint(medium down) {
			padding-bottom: 4.08rem;
		}
		> li {
			@extend .h6;
			&.home-link {
				display: none;
			}
			a {
				color: #E2E2E2;
			}
		}
	}
	
	.copyright {
		margin-bottom: 0;
		@include breakpoint(medium down) {
			text-align: center;
		}
		@include breakpoint(tablet) {
			br {
				display: none;
			}
		}
	}
	
	.site-info {
		color: #BABABA;
		font-size: rem-calc(15);
		font-family: $header-font-family;
		background-color: #000;
	}
	
}