.has-scrolled {
	header.site-header .top-bar.fixed {
		transform: translateY(0);
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
.page-template-page-home {
	header.site-header .top-bar.load {
		background-color: transparent;
		border-bottom: 0px solid transparent;
		.logo svg {
			filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.58));
		}
	}
}
header.site-header {
	.top-bar-wrap.grid-container.fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.top-bar {
		background-color: $black;
		&.fixed {
			position: fixed;
			z-index: 99999;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			padding: 0 calc($smallGutter * .5);
			@include breakpoint(medium) {
				padding: 0 calc($mediumGutter * .5);
			}
			transform: translateY(-100%);
			transition: transform .5s ease;
			.logo img {
				max-width: 250px;
				max-height: 55px;
			}
		}
		&.load {
			padding: 2.5625rem calc($smallGutter * .5) 1.913rem;
			border-bottom: 11px solid $color-yellow;
			@include breakpoint(medium) {
				padding: 2.5625rem calc($mediumGutter * .5) 1.913rem;
			}
		}
		.global-ctas {
			a.button {
				padding: 0.85em 1.5966em;
			}
		}
		.rfw-link-wrap {
			span {
				display: inline-block;
				background-color: $color-yellow;
				width: 2px;
				height: 27px;
				margin-left: -8px;
				margin-right: 19px;
			}
			a {
				font-family: $header-font-family;
				color: $color-yellow;
				font-weight: 500;
			}
		}
		li.logo {
			@include breakpoint(medium) {

			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		#main-nav {
			align-items: center;
			font-family: $header-font-family;
			opacity: 0;
			padding-top: 0.65rem;
			a {
				font-size: rem-calc(18);
				line-height: 1.111;
			}
			>li {
				margin: 0 0rem 0rem;
				
				> a {
					color: $white;
					padding: 0.78rem 1.7rem 1.034rem;
					position: relative;
					text-shadow: 1px 2px 0px rgba(0,0,0,0.75);
					span {
						&:before {
							content: '';
							width: calc(100% - 1rem);
							position: absolute;
							top: 0;
							height: 11px;
							background-color: transparent;
						}
					}
				&:hover {

				}
					
				}
				
			&.is-active {
				a {
					color: $black;
					background-color: $color-yellow;
					text-shadow: 0px 0px 0px rgba(0,0,0,0.75);
					span {
						display: inline-block;
						transform: translateY(2px);
					}
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					background-color: $color-yellow;
					li {
						a {
							color: $black;
							
						&:hover {

						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}
.page-template-page-home {
	header.site-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: transparent;
		z-index: 555;
	}
}