h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	text-transform: uppercase;
}

h1,
.h1 {
	font-size: clamp(2.25rem, 2.03rem + 0.939vw, 2.875rem);
	line-height: 1.1739;
}

h2,
.h2 {
	font-size: clamp(1.875rem, 1.655rem + 0.939vw, 2.5rem);
	line-height: 1.46666;
}

h3,
.h3 {
	font-size: clamp(1.575rem, 1.337rem + 1.014vw, 2.25rem);
	line-height: 1.33333;
}

h4,
.h4 {
	line-height: 1.4666;
}

p,
.p,
ul,
ol {
	font-size: rem-calc(18);
	line-height: 1.88888;
}